.admin-panel-buttons {
	display: flex;
	margin-left: -10px;
}

.admin-panel-buttons > * {
	margin-left: 10px;
}

.admin-panel-switch {
	display: none;
}

@media (max-width: 575.98px) {
	.admin-panel .panel-header {
		position: relative;
	}
	.admin-panel .panel-title,
	.admin-panel .nav-pills {
		transition: opacity .25s, visibility .25s;
	}
	.admin-panel.active .admin-panel-buttons {
		opacity: 1;
		visibility: visible;
	}
	.admin-panel.active .panel-title,
	.admin-panel.active .nav-pills,
	.admin-panel.active .nav-tabs {
		opacity: 0;
		visibility: hidden;
	}
	.admin-panel-buttons {
		position: absolute;
		left: 0.9375rem;
		opacity: 0;
		visibility: hidden;
		transition: opacity .25s, visibility .25s;
	}
	.admin-panel-switch {
		display: block;
		margin-left: 15px;
	}
	.admin-panel-switch:hover {
		cursor: pointer;
	}
}

@media (min-width: 576px) {
	* + .admin-panel-buttons {
		padding-left: 0.9375rem;
	}
}

.admin-panel-button {
	min-width: 16px;
	border: none;
	transition: opacity .25s;
	background: none;
	color: inherit;
}

.admin-panel-button:hover {
	opacity: .6;
}

.admin-panel-group {
	display: flex;
	justify-content: flex-end;
	margin-bottom: -10px;
	margin-left: -10px;
}

.admin-panel-group:empty {
	margin-bottom: 0;
	margin-left: 0;
}

.admin-panel-group > * {
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 10px;
}

.admin-panel-color {
	width: 25px;
	height: 25px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background: #c9c9c9;
	transition: .25s;
}

.admin-panel-color:hover {
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.35);
}

.admin-panel-collapsed [data-panel="fullscreen"] {
	pointer-events: none;
	opacity: .3;
}

.panel.admin-panel-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 14;
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100vh;
	overflow: auto;
}

.panel.admin-panel-fullscreen [data-panel="remove"],
.panel.admin-panel-fullscreen [data-panel="collapse"] {
	display: none;
}

.panel.admin-panel-fullscreen .panel-body {
	flex-grow: 1;
}

.admin-panel-color-primary {
	background-color: #9e6cfd;
}

.admin-panel-color-secondary {
	background-color: #ff574d;
}

.admin-panel-color-success {
	background-color: #04cf9e;
}

.admin-panel-color-info {
	background-color: #3ec5ff;
}

.admin-panel-color-warning {
	background-color: #fac12e;
}

.admin-panel-color-danger {
	background-color: #ff4444;
}

.admin-panel-color-light {
	background-color: #35383d;
}

.admin-panel-color-dark {
	background-color: #15171c;
}
