.highcharts-background {
	fill: transparent;
}

.highcharts-container {
	width: 100%;
	height: 250px;
}

@media (min-width: 768px) {
	.highcharts-container-lg {
		height: 400px;
	}
}

.highcharts-container-double-detail {
	height: 250px;
}

@media (min-width: 768px) {
	.highcharts-container-double-detail {
		height: 400px;
	}
}

.highcharts-legend-item .highcharts-point {
	pointer-events: none;
}
