.modal-open {
	overflow: hidden;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 16;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 0.5rem;
	pointer-events: none;
}

.modal.fade .modal-dialog {
	transition: transform 0.3s ease-out;
	transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
	.modal.fade .modal-dialog {
		transition: none;
	}
}

.modal.show .modal-dialog {
	transform: none;
}

.modal-dialog-scrollable {
	display: flex;
	max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
	max-height: calc(100vh - 1rem);
	overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
	flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
	overflow-y: auto;
}

.modal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
	display: block;
	height: calc(100vh - 1rem);
	content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
	max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
	content: none;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #1f2227;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

.modal-backdrop.fade {
	opacity: 0;
}

.modal-backdrop.show {
	opacity: 0.5;
}

.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem 1rem;
	border-bottom: 1px solid #2d3035;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}

.modal-header .close {
	padding: 1rem 1rem;
	margin: -1rem -1rem -1rem auto;
}

.modal-title {
	margin-bottom: 0;
	line-height: 1.49;
}

.modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 1rem;
}

.modal-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1rem;
	border-top: 1px solid #2d3035;
	border-bottom-right-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

.modal-footer > :not(:first-child) {
	margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
	margin-right: .25rem;
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto;
	}
	.modal-dialog-scrollable {
		max-height: calc(100% - 3.5rem);
	}
	.modal-dialog-scrollable .modal-content {
		max-height: calc(100vh - 3.5rem);
	}
	.modal-dialog-centered {
		min-height: calc(100% - 3.5rem);
	}
	.modal-dialog-centered::before {
		height: calc(100vh - 3.5rem);
	}
	.modal-sm {
		max-width: 300px;
	}
}

@media (min-width: 992px) {
	.modal-lg,
	.modal-xl {
		max-width: 800px;
	}
}

@media (min-width: 1200px) {
	.modal-xl {
		max-width: 1140px;
	}
}

.modal {
	scrollbar-width: thin;
	scrollbar-color: black rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	overflow-y: overlay;
}

.modal::-webkit-scrollbar {
	width: 0;
	height: 0;
	background: transparent;
}

.modal::-webkit-scrollbar-thumb {
	background: rgba(53, 56, 61, 0.5);
}

.mobile .modal::-webkit-scrollbar, .modal:hover::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

.modal-dialog {
	margin: 0 auto;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

.modal-dialog::before {
	display: block;
	height: 100vh;
	content: "";
}

.modal-content {
	margin: 1rem 0;
}

.modal-body {
	overflow-x: hidden !important;
}

.modal .close {
	margin: 0;
	padding: 0;
	float: none;
	font-size: 30px;
	color: #9e6cfd;
	transition: 0.3s;
	opacity: 1;
}

.modal .close:hover {
	color: #6c21fc;
}

.modal.fade {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal.rotate-y {
	perspective: 1000px;
	transform-style: preserve-3d;
}

.modal.rotate-y .modal-dialog {
	transform: rotateY(60deg);
}

.modal.rotate-y.show .modal-dialog {
	transform: rotateY(0deg);
}

.modal.rotate-x {
	perspective: 1000px;
	transform-style: preserve-3d;
}

.modal.rotate-x .modal-dialog {
	transform: rotateX(60deg);
}

.modal.rotate-x.show .modal-dialog {
	transform: rotateX(0deg);
}

.modal.zoom-in .modal-dialog {
	transform: scale(0.8);
}

.modal.zoom-in.show .modal-dialog {
	transform: scale(1);
}

.modal.zoom-out .modal-dialog {
	transform: scale(1.2);
}

.modal.zoom-out.show .modal-dialog {
	transform: scale(1);
}

.modal.rotate-up {
	perspective: 1000px;
	transform-style: preserve-3d;
}

.modal.rotate-up .modal-dialog {
	transform: translateY(200px) rotateX(60deg);
	transform-origin: 0 100%;
}

.modal.rotate-up.show .modal-dialog {
	transform: translateY(0%) rotateX(0deg);
}

.modal.rotate-down {
	perspective: 1000px;
	transform-style: preserve-3d;
}

.modal.rotate-down .modal-dialog {
	transform: translateY(-200px) rotateX(-60deg);
	transform-origin: 0 0;
}

.modal.rotate-down.show .modal-dialog {
	transform: translateY(0%) rotateX(0deg);
}

.modal.rotate-left {
	perspective: 1000px;
	transform-style: preserve-3d;
}

.modal.rotate-left .modal-dialog {
	transform: translateX(-200px) rotateY(-60deg);
	transform-origin: 0 0;
}

.modal.rotate-left.show .modal-dialog {
	transform: translateX(0%) rotateY(0deg);
}

.modal.rotate-right {
	perspective: 1000px;
	transform-style: preserve-3d;
}

.modal.rotate-right .modal-dialog {
	transform: translateX(200px) rotateY(60deg);
	transform-origin: 100% 0;
}

.modal.rotate-right.show .modal-dialog {
	transform: translateX(0%) rotateY(0deg);
}

.modal.slide-up .modal-dialog {
	transform: translateY(100px);
}

.modal.slide-up.show .modal-dialog {
	transform: translateY(0);
}

.modal.slide-down .modal-dialog {
	transform: translateY(-100px);
}

.modal.slide-down.show .modal-dialog {
	transform: translateY(0);
}

.modal.slide-left .modal-dialog {
	transform: translateX(100px);
}

.modal.slide-left.show .modal-dialog {
	transform: translateX(0);
}

.modal.slide-right .modal-dialog {
	transform: translateX(-100px);
}

.modal.slide-right.show .modal-dialog {
	transform: translateX(0);
}

.modal.flip-down {
	perspective: 1000px;
	transform-style: preserve-3d;
}

.modal.flip-down .modal-dialog {
	transform-origin: 0 0;
	transform: rotateX(-60deg);
}

.modal.flip-down.show .modal-dialog {
	transform: rotateX(0);
}

.modal.rotate-full .modal-dialog {
	transform-origin: 50% 50%;
	transform: rotate(-400deg) scale(0.5);
}

.modal.rotate-full.show .modal-dialog {
	transform: rotate(0) scale(1);
}

.modal.fullscale {
	background-color: #000;
}

.modal.fullscale .modal-dialog {
	transform: none;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.modal.fullscale.show .modal-dialog {
	transform: none;
	opacity: 1;
}

.modal.fade-in .modal-dialog {
	transform: none;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.modal.fade-in.show .modal-dialog {
	transform: none;
	opacity: 1;
}
