.flotchart-container {
	width: 100%;
	height: 250px;
}

.flotchart-container-pie {
	height: 300px;
}

.flotchart-container + .flotchart-container {
	margin-top: 30px;
}

.flot-y-axis,
.flot-x-axis {
	fill: #a5a7a9;
}

.flotTip {
	padding: 2px 10px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0.625rem;
}

