.ui-spinner {
	position: relative;
	display: block;
}

.ui-spinner-input {
	padding-right: 25px;
	-moz-appearance: textfield;
}

.ui-spinner-input::-webkit-inner-spin-button {
	display: none;
}

.ui-spinner-button {
	position: absolute;
	right: 6px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	z-index: 3;
}

.ui-spinner-button .ui-button-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}

.ui-spinner-button.ui-spinner-up {
	top: 5px;
}

.ui-spinner-button.ui-spinner-up .ui-button-icon {
	border-bottom: 8px solid #2d3035;
}

.ui-spinner-button.ui-spinner-down {
	bottom: 5px;
}

.ui-spinner-button.ui-spinner-down .ui-button-icon {
	border-top: 8px solid #2d3035;
}

.input-group > .ui-spinner {
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0;
}

.input-group > .ui-spinner:not(:last-child) .form-control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group > .ui-spinner:not(:first-child) .form-control {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.form-control-primary ~ .ui-spinner-button.ui-spinner-up .ui-button-icon {
	border-bottom-color: #9e6cfd;
}

.form-control-primary ~ .ui-spinner-button.ui-spinner-down .ui-button-icon {
	border-top-color: #9e6cfd;
}

.form-control-secondary ~ .ui-spinner-button.ui-spinner-up .ui-button-icon {
	border-bottom-color: #ff574d;
}

.form-control-secondary ~ .ui-spinner-button.ui-spinner-down .ui-button-icon {
	border-top-color: #ff574d;
}

.form-control-success ~ .ui-spinner-button.ui-spinner-up .ui-button-icon {
	border-bottom-color: #04cf9e;
}

.form-control-success ~ .ui-spinner-button.ui-spinner-down .ui-button-icon {
	border-top-color: #04cf9e;
}

.form-control-info ~ .ui-spinner-button.ui-spinner-up .ui-button-icon {
	border-bottom-color: #3ec5ff;
}

.form-control-info ~ .ui-spinner-button.ui-spinner-down .ui-button-icon {
	border-top-color: #3ec5ff;
}

.form-control-warning ~ .ui-spinner-button.ui-spinner-up .ui-button-icon {
	border-bottom-color: #fac12e;
}

.form-control-warning ~ .ui-spinner-button.ui-spinner-down .ui-button-icon {
	border-top-color: #fac12e;
}

.form-control-danger ~ .ui-spinner-button.ui-spinner-up .ui-button-icon {
	border-bottom-color: #ff4444;
}

.form-control-danger ~ .ui-spinner-button.ui-spinner-down .ui-button-icon {
	border-top-color: #ff4444;
}

.form-control-light ~ .ui-spinner-button.ui-spinner-up .ui-button-icon {
	border-bottom-color: #35383d;
}

.form-control-light ~ .ui-spinner-button.ui-spinner-down .ui-button-icon {
	border-top-color: #35383d;
}

.form-control-dark ~ .ui-spinner-button.ui-spinner-up .ui-button-icon {
	border-bottom-color: #15171c;
}

.form-control-dark ~ .ui-spinner-button.ui-spinner-down .ui-button-icon {
	border-top-color: #15171c;
}

