.timeline {
	position: relative;
}

.timeline-item {
	position: relative;
	z-index: 1;
}

.timeline-item-icon {
	display: none;
}

[data-auto-timeline] {
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s;
}

.timeline-ready {
	visibility: visible;
	opacity: 1;
}

* + .timeline-item {
	margin-top: 30px;
}

@media (min-width: 768px) {
	.timeline::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 20px;
		transform: translateX(-50%);
		border-left: 2px solid #414347;
	}
	.timeline-item {
		padding-left: 55px;
	}
	.timeline-item-icon {
		position: absolute;
		top: -2px;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background-color: #1f2227;
	}
}

@media (min-width: 992px) {
	[data-auto-timeline]::before {
		left: 50%;
	}
	[data-auto-timeline]::after {
		content: '';
		display: block;
		clear: both;
	}
	[data-auto-timeline] .timeline-item {
		display: inline-block;
		width: 100%;
	}
	[data-auto-timeline] .timeline-right {
		float: right;
		width: 50%;
		padding-left: 40px;
	}
	[data-auto-timeline] .timeline-right:nth-child(2) {
		margin-top: 50px;
	}
	[data-auto-timeline] .timeline-left {
		float: left;
		width: 50%;
		padding-left: 0;
		padding-right: 40px;
	}
	[data-auto-timeline] .timeline-item-icon {
		left: -19px;
	}
	[data-auto-timeline] .timeline-left .timeline-item-icon {
		left: auto;
		right: -19px;
	}
}

@media (min-width: 1600px) {
	[data-auto-timeline] .timeline-item-icon {
		top: 20px;
	}
	* + .timeline-item {
		margin-top: 50px;
	}
}

.timeline-simple .timeline-item + .timeline-item {
	margin-top: 0;
}

.timeline-simple .timeline-item {
	padding: 1.25rem 1.25rem 1.25rem 0.9375rem;
}

@media (min-width: 768px) {
	.timeline-simple::before {
		left: 30px;
	}
	.timeline-simple .timeline-item {
		padding-left: 65px;
	}
	.timeline-simple .timeline-item-icon {
		top: 13px;
		left: 10px;
	}
	.timeline-simple .timeline-item + .timeline-item .timeline-item-icon {
		top: 13px;
	}
}

.timeline-item-icon-primary {
	background-color: #9e6cfd;
	color: #fff;
}

.timeline-item-icon-secondary {
	background-color: #ff574d;
	color: #fff;
}

.timeline-item-icon-success {
	background-color: #04cf9e;
	color: #fff;
}

.timeline-item-icon-info {
	background-color: #3ec5ff;
	color: #fff;
}

.timeline-item-icon-warning {
	background-color: #fac12e;
	color: #fff;
}

.timeline-item-icon-danger {
	background-color: #ff4444;
	color: #fff;
}

.timeline-item-icon-light {
	background-color: #35383d;
	color: #fff;
}

.timeline-item-icon-dark {
	background-color: #15171c;
	color: #fff;
}

