div.ui-pnotify.ui-pnotify-with-icon .ui-pnotify-title,
div.ui-pnotify.ui-pnotify-with-icon .ui-pnotify-text {
	margin-left: 27px;
}

.ui-pnotify-icon, .ui-pnotify-icon span {
	font-size: 1.06rem;
	line-height: 1;
}

div.ui-pnotify-icon-bs4 > span {
	position: relative;
	top: 2px;
}

div.ui-pnotify .ui-pnotify-shadow {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.ui-pnotify.translucent.ui-pnotify-fade-in {
	opacity: 0.5;
}

