.navbar-subpanel-inner
	.navbar-subpanel-header
		.h3 Alice

	.navbar-subpanel-body.p-0.scroller.scroller-vertical
		.list-group.list-group-flush
			a.list-group-item.rounded-0( href='#' )
				.media.align-items-center
					.pr-2
						span.fa-user
					.media-body
						h5 My Profile
			a.list-group-item.rounded-0( href='#' )
				.media.align-items-center
					.pr-2
						span.fa-envelope-o
					.media-body
						h5 My Messages
					.badge.badge-warning 12
			a.list-group-item.rounded-0( href='#' )
				.media.align-items-center
					.pr-2
						span.fa-rocket
					.media-body
						h5 My Activities
			a.list-group-item.rounded-0( href='#' )
				.media.align-items-center
					.pr-2
						span.fa-desktop
					.media-body
						h5 My Tasks
					.badge.badge-success 05
			a.list-group-item.rounded-0( href='#' )
				.media.align-items-center
					.pr-2
						span.fa-line-chart
					.media-body
						h5 Billing

	.navbar-subpanel-footer.p-2
		.d-flex.align-items-center.justify-content-between
			a.btn.btn-sm.btn-danger( href='#' ) Sign Out
			a.btn.btn-sm.btn-success( href='#' ) Upgrade Plan
