.navbar-subpanel-inner
	.navbar-subpanel-header
		h4 Chat

	.navbar-subpanel-body.scroller.scroller-vertical( style='max-height: 400px;' )
		.media.media-cloud.group-15
			.media-item
				img.rounded( src='images/users/user-02-50x50.jpg', width='50', height='50', alt='' )
			.media-body
				h5.media-heading.offline
					| Sara Marshall
					= ' '
					small - 12:30am
				.media-text Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

		.media.media-cloud.flex-row-reverse.group-15
			.media-item
				img.rounded( src='images/users/user-03-50x50.jpg', width='50', height='50', alt='' )
			.media-body.media-body-right-caret
				h5.media-heading.online
					| Tom Jorgensen
					= ' '
					small - 12:30am
				.media-text Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

		.media.media-cloud.group-15
			.media-item
				img.rounded( src='images/users/user-02-50x50.jpg', width='50', height='50', alt='' )
			.media-body
				h5.media-heading.offline
					| Sara Marshall
					= ' '
					small - 12:30am
				.media-text Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

		.media.media-cloud.flex-row-reverse.group-15
			.media-item
				img.rounded( src='images/users/user-03-50x50.jpg', width='50', height='50', alt='' )
			.media-body.media-body-right-caret
				h5.media-heading.online
					| Tom Jorgensen
					= ' '
					small - 12:30am
				.media-text Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

	.navbar-subpanel-footer
		.input-group.form-group
			input.form-control( type='text', placeholder='Enter your message here' )
			.input-group-append
				button.btn.btn-primary Send
