.dd {
	position: relative;
}

.dd-list {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.dd-list .dd-list {
	padding-left: 1.875rem;
}

.dd-collapsed .dd-list {
	display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
	display: block;
	min-height: 1.25rem;
}

.dd-handle {
	position: relative;
	z-index: 1;
	min-height: 1.875rem;
	padding: 0.4375rem 0.9375rem;
	color: #a5a7a9;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #08090b;
	background: #1f2227;
	border-radius: 0.625rem;
	transition: .2s;
	cursor: grab;
}

button[data-action="collapse"] ~ .dd-handle {
	padding-left: 2.625rem;
}

.dd-content {
	margin-top: -0.625rem;
	padding: 1.25rem 0.9375rem;
	color: inherit;
	background: #292c32;
	border: 1px solid #08090b;
	border-top: 0;
	border-bottom-left-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
}

.dd-item {
	position: relative;
}

.dd-item .dd-button {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	cursor: pointer;
	max-width: 2.625rem;
	margin: 0.5625rem 0.9375rem;
	padding: 0;
	overflow: hidden;
	border: 0;
	color: #a5a7a9;
	background: transparent;
	font-size: 0.9em;
	text-align: center;
	font-weight: bold;
	transition: .2s;
}

.dd-item .dd-button:hover {
	opacity: 0.7;
}

.dd-placeholder,
.dd-empty {
	min-height: 1.875rem;
	background: #1f2227;
	border: 1px dashed #15171c;
}

.dd-empty {
	border: 1px dashed #15171c;
	min-height: 6.25rem;
	background-color: #1f2227;
	background-position: 0 0, 30px 30px;
}

.dd-dragel {
	position: absolute;
	pointer-events: none;
	z-index: 10;
	cursor: grabbing;
}

.dd-dragel .dd-handle {
	box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}

* + .dd-item,
* + .dd-list,
* + .dd-placeholder,
* + .dd-empty {
	margin-top: 0.9375rem;
}

.dd-item > .dd-list {
	margin-top: 0.5rem;
}

.dd-item > .dd-list * + .dd-item {
	margin-top: 0.5rem;
}

.divider + .dd {
	margin-top: 0.9375rem;
}

.dd-item-primary > .dd-handle {
	color: #fff;
	background: #9e6cfd;
	border-color: #7d3afc;
}

.dd-item-primary > .dd-button {
	color: #fff;
}

.dd-item-secondary > .dd-handle {
	color: #fff;
	background: #ff574d;
	border-color: #ff271a;
}

.dd-item-secondary > .dd-button {
	color: #fff;
}

.dd-item-success > .dd-handle {
	color: #fff;
	background: #04cf9e;
	border-color: #039d78;
}

.dd-item-success > .dd-button {
	color: #fff;
}

.dd-item-info > .dd-handle {
	color: #fff;
	background: #3ec5ff;
	border-color: #0bb6ff;
}

.dd-item-info > .dd-button {
	color: #fff;
}

.dd-item-warning > .dd-handle {
	color: #fff;
	background: #fac12e;
	border-color: #efae06;
}

.dd-item-warning > .dd-button {
	color: #fff;
}

.dd-item-danger > .dd-handle {
	color: #fff;
	background: #ff4444;
	border-color: #ff1111;
}

.dd-item-danger > .dd-button {
	color: #fff;
}

.dd-item-light > .dd-handle {
	color: #fff;
	background: #35383d;
	border-color: #1d1f22;
}

.dd-item-light > .dd-button {
	color: #fff;
}

.dd-item-dark > .dd-handle {
	color: #fff;
	background: #15171c;
	border-color: black;
}

.dd-item-dark > .dd-button {
	color: #fff;
}

