.sidebar.scroller.scroller-vertical 
	.p-4
		h3 StoreFront Options
		hr
		.row.row-15.align-items-end
			.col-12.col-md-4.col-lg-12
				label( for='basic-addon11' ) Store Name
				.input-group
					.input-group-prepend
						span.input-group-text
							span.fa-home
					input#basic-addon11.form-control( type='text', placeholder='My Online Store' )
			.col-12.col-md-4.col-lg-12
				label( for='basic-addon12' ) Store URL
				.input-group
					.input-group-prepend
						span.input-group-text
							span.fa-globe
					input#basic-addon12.form-control( type='text', placeholder='My Online Store' )
			.col-12
				hr.m-0
			.col-12
				h4 Change image
				.tower-file.mt-2
					input#demo1.tower-file-input( type='file', multiple )
					.group-10
						label.btn.btn-primary( for='demo1' ) Change
