.sidebar.scroller.scroller-vertical
	.timeline.timeline-simple
		.item
			.timeline-item
				.timeline-item-icon.timeline-item-icon-secondary.fa-tags
				.d-flex.justify-content-between
					div
						span.text-info Michael
						= ' Added a new item to his store: '
						a( href='#' ) iPod
					span.ml-2 1:25am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-secondary.fa-tags
				.d-flex.justify-content-between
					div
						span.text-info Sarah
						= ' Added a new item to her store: '
						a( href='#' ) Notebook
					span.ml-2 3:05am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-success.fa-usd
				.d-flex.justify-content-between
					div
						span.text-info Admin
						= ' Added a new item to his store: '
						a( href='#' ) Software
					span.ml-2 4:15am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-success.fa-usd
				.d-flex.justify-content-between
					div
						span.text-info Admin
						= ' Added a new item to his store: '
						a( href='#' ) Apple
					span.ml-2 7:45am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-success.fa-usd
				.d-flex.justify-content-between
					div
						span.text-info Admin
						= ' Added a new item to his store: '
						a( href='#' ) Software
					span.ml-2 4:15am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-success.fa-usd
				.d-flex.justify-content-between
					div
						span.text-info Admin
						= ' Added a new item to his store: '
						a( href='#' ) Apple
					span.ml-2 7:45am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-secondary.fa-tags
				.d-flex.justify-content-between
					div
						span.text-info Michael
						= ' Added a new item to his store: '
						a( href='#' ) iPod
					span.ml-2 8:25am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-info.fa-fire
				.d-flex.justify-content-between
					div
						span.text-info Admin
						= ' Added a new item to his store: '
						a( href='#' ) Software
					span.ml-2 9:35am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-secondary.fa-tags
				.d-flex.justify-content-between
					div
						span.text-info Sarah
						= ' Added a new item to her store: '
						a( href='#' ) Notebook
					span.ml-2 4:15am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-success.fa-usd
				.d-flex.justify-content-between
					div
						span.text-info Admin
						= ' Added a new item to his store: '
						a( href='#' ) Apple
					span.ml-2 7:45am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-success.fa-usd
				.d-flex.justify-content-between
					div
						span.text-info Admin
						= ' Added a new item to his store: '
						a( href='#' ) Software
					span.ml-2 4:15am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-success.fa-usd
				.d-flex.justify-content-between
					div
						span.text-info Admin
						= ' Added a new item to his store: '
						a( href='#' ) Apple
					span.ml-2 7:45am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-secondary.fa-tags
				.d-flex.justify-content-between
					div
						span.text-info Michael
						= ' Added a new item to his store: '
						a( href='#' ) iPod
					span.ml-2 8:25am

			.timeline-item
				.timeline-item-icon.timeline-item-icon-info.fa-fire
				.d-flex.justify-content-between
					div
						span.text-info Admin
						= ' Added a new item to his store: '
						a( href='#' ) Software
					span.ml-2 9:35am
