.sidebar.scroller
	.panel
		.panel-header
			h4.panel-title
				span.panel-icon.fa-trophy
				span Right Sidebar Content
		.panel-body
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat ac tortor eu viverra. Etiam ipsum neque, fermentum quis sagittis nec, hendrerit id diam. Mauris a tincidunt odio. Sed porttitor ex pulvinar, tristique sapien sed, malesuada nunc.
