.section-one-screen {
	position: relative;
	min-height: calc( 100vh - 250px);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-xs {
	padding: 30px 0;
}

.section-transparent + .section-transparent {
	padding-top: 0;
}

.section-sm,
.section-md,
.section-lg {
	padding: 50px 0;
}

@media (min-width: 992px) {
	.section-md {
		padding: 60px 0;
	}
	.section-lg {
		padding: 80px 0;
	}
}

