.jumbotron {
	padding: 1.2rem 0.6rem;
	margin-bottom: 1.2rem;
	background-color: #1f2227;
	border-radius: 0.3rem;
}

@media (min-width: 576px) {
	.jumbotron {
		padding: 2.4rem 1.2rem;
	}
}

.jumbotron-fluid {
	padding-right: 0;
	padding-left: 0;
	border-radius: 0;
}

.jumbotron {
	padding: 1.2rem;
	margin: 0;
}

