.btn {
	display: inline-block;
	font-weight: 600;
	color: #a5a7a9;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.625rem 1.25rem;
	font-size: 0.8125rem;
	line-height: 1.25rem;
	border-radius: 0.375rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.btn {
		transition: none;
	}
}

.btn:hover {
	color: #a5a7a9;
	text-decoration: none;
}

.btn:focus, .btn.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(158, 108, 253, 0.25);
}

.btn.disabled, .btn:disabled {
	opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}

.btn-primary {
	color: #fff;
	background-color: #9e6cfd;
	border-color: #9e6cfd;
}

.btn-primary:hover {
	color: #fff;
	background-color: #8546fc;
	border-color: #7d3afc;
}

.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(173, 130, 253, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #9e6cfd;
	border-color: #9e6cfd;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #7d3afc;
	border-color: #742dfc;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(173, 130, 253, 0.5);
}

.btn-secondary {
	color: #fff;
	background-color: #ff574d;
	border-color: #ff574d;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #ff3327;
	border-color: #ff271a;
}

.btn-secondary:focus, .btn-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 112, 104, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color: #ff574d;
	border-color: #ff574d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #ff271a;
	border-color: #ff1b0d;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 112, 104, 0.5);
}

.btn-success {
	color: #fff;
	background-color: #04cf9e;
	border-color: #04cf9e;
}

.btn-success:hover {
	color: #fff;
	background-color: #03a981;
	border-color: #039d78;
}

.btn-success:focus, .btn-success.focus {
	box-shadow: 0 0 0 0.2rem rgba(42, 214, 173, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
	color: #fff;
	background-color: #04cf9e;
	border-color: #04cf9e;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
	color: #fff;
	background-color: #039d78;
	border-color: #03906e;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(42, 214, 173, 0.5);
}

.btn-info {
	color: #fff;
	background-color: #3ec5ff;
	border-color: #3ec5ff;
}

.btn-info:hover {
	color: #fff;
	background-color: #18baff;
	border-color: #0bb6ff;
}

.btn-info:focus, .btn-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(91, 206, 255, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
	color: #fff;
	background-color: #3ec5ff;
	border-color: #3ec5ff;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
	color: #fff;
	background-color: #0bb6ff;
	border-color: #00b1fd;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(91, 206, 255, 0.5);
}

.btn-warning {
	color: #fff;
	background-color: #fac12e;
	border-color: #fac12e;
}

.btn-warning:hover {
	color: #fff;
	background-color: #f9b609;
	border-color: #efae06;
}

.btn-warning:focus, .btn-warning.focus {
	box-shadow: 0 0 0 0.2rem rgba(251, 202, 77, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
	color: #fff;
	background-color: #fac12e;
	border-color: #fac12e;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
	color: #fff;
	background-color: #efae06;
	border-color: #e3a505;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(251, 202, 77, 0.5);
}

.btn-danger {
	color: #fff;
	background-color: #ff4444;
	border-color: #ff4444;
}

.btn-danger:hover {
	color: #fff;
	background-color: #ff1e1e;
	border-color: #ff1111;
}

.btn-danger:focus, .btn-danger.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 96, 96, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
	color: #fff;
	background-color: #ff4444;
	border-color: #ff4444;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #ff1111;
	border-color: #ff0404;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 96, 96, 0.5);
}

.btn-light {
	color: #fff;
	background-color: #35383d;
	border-color: #35383d;
}

.btn-light:hover {
	color: #fff;
	background-color: #232529;
	border-color: #1d1f22;
}

.btn-light:focus, .btn-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(83, 86, 90, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
	color: #fff;
	background-color: #35383d;
	border-color: #35383d;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
	color: #fff;
	background-color: #1d1f22;
	border-color: #17191b;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(83, 86, 90, 0.5);
}

.btn-dark {
	color: #fff;
	background-color: #15171c;
	border-color: #15171c;
}

.btn-dark:hover {
	color: #fff;
	background-color: #050506;
	border-color: black;
}

.btn-dark:focus, .btn-dark.focus {
	box-shadow: 0 0 0 0.2rem rgba(56, 58, 62, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
	color: #fff;
	background-color: #15171c;
	border-color: #15171c;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
	color: #fff;
	background-color: black;
	border-color: black;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(56, 58, 62, 0.5);
}

.btn-outline-primary {
	color: #9e6cfd;
	border-color: #9e6cfd;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #9e6cfd;
	border-color: #9e6cfd;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(158, 108, 253, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: #9e6cfd;
	background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #9e6cfd;
	border-color: #9e6cfd;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(158, 108, 253, 0.5);
}

.btn-outline-secondary {
	color: #ff574d;
	border-color: #ff574d;
}

.btn-outline-secondary:hover {
	color: #fff;
	background-color: #ff574d;
	border-color: #ff574d;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 87, 77, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: #ff574d;
	background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
	color: #fff;
	background-color: #ff574d;
	border-color: #ff574d;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 87, 77, 0.5);
}

.btn-outline-success {
	color: #04cf9e;
	border-color: #04cf9e;
}

.btn-outline-success:hover {
	color: #fff;
	background-color: #04cf9e;
	border-color: #04cf9e;
}

.btn-outline-success:focus, .btn-outline-success.focus {
	box-shadow: 0 0 0 0.2rem rgba(4, 207, 158, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
	color: #04cf9e;
	background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
	color: #fff;
	background-color: #04cf9e;
	border-color: #04cf9e;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(4, 207, 158, 0.5);
}

.btn-outline-info {
	color: #3ec5ff;
	border-color: #3ec5ff;
}

.btn-outline-info:hover {
	color: #fff;
	background-color: #3ec5ff;
	border-color: #3ec5ff;
}

.btn-outline-info:focus, .btn-outline-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(62, 197, 255, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
	color: #3ec5ff;
	background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
	color: #fff;
	background-color: #3ec5ff;
	border-color: #3ec5ff;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(62, 197, 255, 0.5);
}

.btn-outline-warning {
	color: #fac12e;
	border-color: #fac12e;
}

.btn-outline-warning:hover {
	color: #fff;
	background-color: #fac12e;
	border-color: #fac12e;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
	box-shadow: 0 0 0 0.2rem rgba(250, 193, 46, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
	color: #fac12e;
	background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
	color: #fff;
	background-color: #fac12e;
	border-color: #fac12e;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(250, 193, 46, 0.5);
}

.btn-outline-danger {
	color: #ff4444;
	border-color: #ff4444;
}

.btn-outline-danger:hover {
	color: #fff;
	background-color: #ff4444;
	border-color: #ff4444;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 68, 68, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
	color: #ff4444;
	background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
	color: #fff;
	background-color: #ff4444;
	border-color: #ff4444;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 68, 68, 0.5);
}

.btn-outline-light {
	color: #35383d;
	border-color: #35383d;
}

.btn-outline-light:hover {
	color: #fff;
	background-color: #35383d;
	border-color: #35383d;
}

.btn-outline-light:focus, .btn-outline-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(53, 56, 61, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
	color: #35383d;
	background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
	color: #fff;
	background-color: #35383d;
	border-color: #35383d;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(53, 56, 61, 0.5);
}

.btn-outline-dark {
	color: #15171c;
	border-color: #15171c;
}

.btn-outline-dark:hover {
	color: #fff;
	background-color: #15171c;
	border-color: #15171c;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
	box-shadow: 0 0 0 0.2rem rgba(21, 23, 28, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
	color: #15171c;
	background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
	color: #fff;
	background-color: #15171c;
	border-color: #15171c;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(21, 23, 28, 0.5);
}

.btn-link {
	font-weight: 400;
	color: #9e6cfd;
	text-decoration: none;
}

.btn-link:hover {
	color: #6c21fc;
	text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
	text-decoration: underline;
	box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
	color: #2d3035;
	pointer-events: none;
}

.btn-lg, .btn-group-lg > .btn {
	padding: 1.0625rem 1.25rem;
	font-size: 0.8125rem;
	line-height: 1.25rem;
	border-radius: 0.375rem;
}

.btn-sm, .btn-group-sm > .btn {
	padding: 0.4375rem 0.625rem;
	font-size: 0.8125rem;
	line-height: 1.25rem;
	border-radius: 0.375rem;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-block + .btn-block {
	margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
	width: 100%;
}

.btn-group,
.btn-group-vertical {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
	position: relative;
	flex: 1 1 auto;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
	z-index: 1;
}

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
	z-index: 1;
}

.btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.btn-toolbar .input-group {
	width: auto;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
	margin-left: -1px;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.dropdown-toggle-split {
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
}

.dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after,
.dropright .dropdown-toggle-split::after {
	margin-left: 0;
}

.dropleft .dropdown-toggle-split::before {
	margin-right: 0;
}

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
	padding-right: 0.46875rem;
	padding-left: 0.46875rem;
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
}

.btn-group-vertical {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
	width: 100%;
}

.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) {
	margin-top: -1px;
}

.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical > .btn-group:not(:last-child) > .btn {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) > .btn {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn-group-toggle > .btn,
.btn-group-toggle > .btn-group > .btn {
	margin-bottom: 0;
}

.btn-group-toggle > .btn input[type="radio"],
.btn-group-toggle > .btn input[type="checkbox"],
.btn-group-toggle > .btn-group > .btn input[type="radio"],
.btn-group-toggle > .btn-group > .btn input[type="checkbox"] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}

.btn {
	transition: .2s;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.btn-icon:not(:only-child) {
	padding-right: 0.4em;
}

.btn-md {
	padding: 0.875rem 1.25rem;
	font-size: 0.8125rem;
	line-height: 1.25rem;
	border-radius: 0.375rem;
}

.btn-rounded {
	border-radius: 50rem;
}

.btn.disabled {
	pointer-events: none;
}

.btn-primary {
	color: #fff;
	background-color: #9e6cfd;
	border-color: #9e6cfd;
}

.btn-primary:hover {
	color: #fff;
	background-color: #8546fc;
	border-color: #7d3afc;
}

.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(173, 130, 253, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #9e6cfd;
	border-color: #9e6cfd;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #7d3afc;
	border-color: #742dfc;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(173, 130, 253, 0.5);
}

.btn-secondary {
	color: #fff;
	background-color: #ff574d;
	border-color: #ff574d;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #ff3327;
	border-color: #ff271a;
}

.btn-secondary:focus, .btn-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 112, 104, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color: #ff574d;
	border-color: #ff574d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #ff271a;
	border-color: #ff1b0d;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 112, 104, 0.5);
}

.btn-success {
	color: #fff;
	background-color: #04cf9e;
	border-color: #04cf9e;
}

.btn-success:hover {
	color: #fff;
	background-color: #03a981;
	border-color: #039d78;
}

.btn-success:focus, .btn-success.focus {
	box-shadow: 0 0 0 0.2rem rgba(42, 214, 173, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
	color: #fff;
	background-color: #04cf9e;
	border-color: #04cf9e;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
	color: #fff;
	background-color: #039d78;
	border-color: #03906e;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(42, 214, 173, 0.5);
}

.btn-info {
	color: #fff;
	background-color: #3ec5ff;
	border-color: #3ec5ff;
}

.btn-info:hover {
	color: #fff;
	background-color: #18baff;
	border-color: #0bb6ff;
}

.btn-info:focus, .btn-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(91, 206, 255, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
	color: #fff;
	background-color: #3ec5ff;
	border-color: #3ec5ff;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
	color: #fff;
	background-color: #0bb6ff;
	border-color: #00b1fd;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(91, 206, 255, 0.5);
}

.btn-warning {
	color: #fff;
	background-color: #fac12e;
	border-color: #fac12e;
}

.btn-warning:hover {
	color: #fff;
	background-color: #f9b609;
	border-color: #efae06;
}

.btn-warning:focus, .btn-warning.focus {
	box-shadow: 0 0 0 0.2rem rgba(251, 202, 77, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
	color: #fff;
	background-color: #fac12e;
	border-color: #fac12e;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
	color: #fff;
	background-color: #efae06;
	border-color: #e3a505;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(251, 202, 77, 0.5);
}

.btn-danger {
	color: #fff;
	background-color: #ff4444;
	border-color: #ff4444;
}

.btn-danger:hover {
	color: #fff;
	background-color: #ff1e1e;
	border-color: #ff1111;
}

.btn-danger:focus, .btn-danger.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 96, 96, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
	color: #fff;
	background-color: #ff4444;
	border-color: #ff4444;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #ff1111;
	border-color: #ff0404;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 96, 96, 0.5);
}

.btn-light {
	color: #fff;
	background-color: #35383d;
	border-color: #35383d;
}

.btn-light:hover {
	color: #fff;
	background-color: #232529;
	border-color: #1d1f22;
}

.btn-light:focus, .btn-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(83, 86, 90, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
	color: #fff;
	background-color: #35383d;
	border-color: #35383d;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
	color: #fff;
	background-color: #1d1f22;
	border-color: #17191b;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(83, 86, 90, 0.5);
}

.btn-dark {
	color: #fff;
	background-color: #15171c;
	border-color: #15171c;
}

.btn-dark:hover {
	color: #fff;
	background-color: #050506;
	border-color: black;
}

.btn-dark:focus, .btn-dark.focus {
	box-shadow: 0 0 0 0.2rem rgba(56, 58, 62, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
	color: #fff;
	background-color: #15171c;
	border-color: #15171c;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
	color: #fff;
	background-color: black;
	border-color: black;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(56, 58, 62, 0.5);
}

.btn-primary.btn-gradient {
	color: #fff;
	background: #9e6cfd linear-gradient(180deg, #895fdb, #9e6cfd) repeat-x;
	border-color: #9e6cfd;
}

.btn-primary.btn-gradient:hover {
	color: #fff;
	background: #8546fc linear-gradient(180deg, #743fdb, #8546fc) repeat-x;
	border-color: #7d3afc;
}

.btn-primary.btn-gradient:focus, .btn-primary.btn-gradient.focus {
	box-shadow: 0 0 0 0.2rem rgba(173, 130, 253, 0.5);
}

.btn-primary.btn-gradient.disabled, .btn-primary.btn-gradient:disabled {
	color: #fff;
	background-color: #9e6cfd;
	border-color: #9e6cfd;
	background-image: none;
}

.btn-primary.btn-gradient:not(:disabled):not(.disabled):active, .btn-primary.btn-gradient:not(:disabled):not(.disabled).active,
.show > .btn-primary.btn-gradient.dropdown-toggle {
	color: #fff;
	background-color: #7d3afc;
	background-image: none;
	border-color: #742dfc;
}

.btn-primary.btn-gradient:not(:disabled):not(.disabled):active:focus, .btn-primary.btn-gradient:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.btn-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(173, 130, 253, 0.5);
}

.btn-secondary.btn-gradient {
	color: #fff;
	background: #ff574d linear-gradient(180deg, #dc4d46, #ff574d) repeat-x;
	border-color: #ff574d;
}

.btn-secondary.btn-gradient:hover {
	color: #fff;
	background: #ff3327 linear-gradient(180deg, #dc2f25, #ff3327) repeat-x;
	border-color: #ff271a;
}

.btn-secondary.btn-gradient:focus, .btn-secondary.btn-gradient.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 112, 104, 0.5);
}

.btn-secondary.btn-gradient.disabled, .btn-secondary.btn-gradient:disabled {
	color: #fff;
	background-color: #ff574d;
	border-color: #ff574d;
	background-image: none;
}

.btn-secondary.btn-gradient:not(:disabled):not(.disabled):active, .btn-secondary.btn-gradient:not(:disabled):not(.disabled).active,
.show > .btn-secondary.btn-gradient.dropdown-toggle {
	color: #fff;
	background-color: #ff271a;
	background-image: none;
	border-color: #ff1b0d;
}

.btn-secondary.btn-gradient:not(:disabled):not(.disabled):active:focus, .btn-secondary.btn-gradient:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.btn-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 112, 104, 0.5);
}

.btn-success.btn-gradient {
	color: #fff;
	background: #04cf9e linear-gradient(180deg, #07b38b, #04cf9e) repeat-x;
	border-color: #04cf9e;
}

.btn-success.btn-gradient:hover {
	color: #fff;
	background: #03a981 linear-gradient(180deg, #069472, #03a981) repeat-x;
	border-color: #039d78;
}

.btn-success.btn-gradient:focus, .btn-success.btn-gradient.focus {
	box-shadow: 0 0 0 0.2rem rgba(42, 214, 173, 0.5);
}

.btn-success.btn-gradient.disabled, .btn-success.btn-gradient:disabled {
	color: #fff;
	background-color: #04cf9e;
	border-color: #04cf9e;
	background-image: none;
}

.btn-success.btn-gradient:not(:disabled):not(.disabled):active, .btn-success.btn-gradient:not(:disabled):not(.disabled).active,
.show > .btn-success.btn-gradient.dropdown-toggle {
	color: #fff;
	background-color: #039d78;
	background-image: none;
	border-color: #03906e;
}

.btn-success.btn-gradient:not(:disabled):not(.disabled):active:focus, .btn-success.btn-gradient:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.btn-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(42, 214, 173, 0.5);
}

.btn-info.btn-gradient {
	color: #fff;
	background: #3ec5ff linear-gradient(180deg, #38abdd, #3ec5ff) repeat-x;
	border-color: #3ec5ff;
}

.btn-info.btn-gradient:hover {
	color: #fff;
	background: #18baff linear-gradient(180deg, #17a1dd, #18baff) repeat-x;
	border-color: #0bb6ff;
}

.btn-info.btn-gradient:focus, .btn-info.btn-gradient.focus {
	box-shadow: 0 0 0 0.2rem rgba(91, 206, 255, 0.5);
}

.btn-info.btn-gradient.disabled, .btn-info.btn-gradient:disabled {
	color: #fff;
	background-color: #3ec5ff;
	border-color: #3ec5ff;
	background-image: none;
}

.btn-info.btn-gradient:not(:disabled):not(.disabled):active, .btn-info.btn-gradient:not(:disabled):not(.disabled).active,
.show > .btn-info.btn-gradient.dropdown-toggle {
	color: #fff;
	background-color: #0bb6ff;
	background-image: none;
	border-color: #00b1fd;
}

.btn-info.btn-gradient:not(:disabled):not(.disabled):active:focus, .btn-info.btn-gradient:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.btn-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(91, 206, 255, 0.5);
}

.btn-warning.btn-gradient {
	color: #fff;
	background: #fac12e linear-gradient(180deg, #d8a82b, #fac12e) repeat-x;
	border-color: #fac12e;
}

.btn-warning.btn-gradient:hover {
	color: #fff;
	background: #f9b609 linear-gradient(180deg, #d79e0c, #f9b609) repeat-x;
	border-color: #efae06;
}

.btn-warning.btn-gradient:focus, .btn-warning.btn-gradient.focus {
	box-shadow: 0 0 0 0.2rem rgba(251, 202, 77, 0.5);
}

.btn-warning.btn-gradient.disabled, .btn-warning.btn-gradient:disabled {
	color: #fff;
	background-color: #fac12e;
	border-color: #fac12e;
	background-image: none;
}

.btn-warning.btn-gradient:not(:disabled):not(.disabled):active, .btn-warning.btn-gradient:not(:disabled):not(.disabled).active,
.show > .btn-warning.btn-gradient.dropdown-toggle {
	color: #fff;
	background-color: #efae06;
	background-image: none;
	border-color: #e3a505;
}

.btn-warning.btn-gradient:not(:disabled):not(.disabled):active:focus, .btn-warning.btn-gradient:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.btn-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(251, 202, 77, 0.5);
}

.btn-danger.btn-gradient {
	color: #fff;
	background: #ff4444 linear-gradient(180deg, #dc3d3e, #ff4444) repeat-x;
	border-color: #ff4444;
}

.btn-danger.btn-gradient:hover {
	color: #fff;
	background: #ff1e1e linear-gradient(180deg, #dc1d1d, #ff1e1e) repeat-x;
	border-color: #ff1111;
}

.btn-danger.btn-gradient:focus, .btn-danger.btn-gradient.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 96, 96, 0.5);
}

.btn-danger.btn-gradient.disabled, .btn-danger.btn-gradient:disabled {
	color: #fff;
	background-color: #ff4444;
	border-color: #ff4444;
	background-image: none;
}

.btn-danger.btn-gradient:not(:disabled):not(.disabled):active, .btn-danger.btn-gradient:not(:disabled):not(.disabled).active,
.show > .btn-danger.btn-gradient.dropdown-toggle {
	color: #fff;
	background-color: #ff1111;
	background-image: none;
	border-color: #ff0404;
}

.btn-danger.btn-gradient:not(:disabled):not(.disabled):active:focus, .btn-danger.btn-gradient:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.btn-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 96, 96, 0.5);
}

.btn-light.btn-gradient {
	color: #fff;
	background: #35383d linear-gradient(180deg, #303338, #35383d) repeat-x;
	border-color: #35383d;
}

.btn-light.btn-gradient:hover {
	color: #fff;
	background: #232529 linear-gradient(180deg, #212327, #232529) repeat-x;
	border-color: #1d1f22;
}

.btn-light.btn-gradient:focus, .btn-light.btn-gradient.focus {
	box-shadow: 0 0 0 0.2rem rgba(83, 86, 90, 0.5);
}

.btn-light.btn-gradient.disabled, .btn-light.btn-gradient:disabled {
	color: #fff;
	background-color: #35383d;
	border-color: #35383d;
	background-image: none;
}

.btn-light.btn-gradient:not(:disabled):not(.disabled):active, .btn-light.btn-gradient:not(:disabled):not(.disabled).active,
.show > .btn-light.btn-gradient.dropdown-toggle {
	color: #fff;
	background-color: #1d1f22;
	background-image: none;
	border-color: #17191b;
}

.btn-light.btn-gradient:not(:disabled):not(.disabled):active:focus, .btn-light.btn-gradient:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.btn-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(83, 86, 90, 0.5);
}

.btn-dark.btn-gradient {
	color: #fff;
	background: #15171c linear-gradient(180deg, #15171c, #15171c) repeat-x;
	border-color: #15171c;
}

.btn-dark.btn-gradient:hover {
	color: #fff;
	background: #050506 linear-gradient(180deg, #070809, #050506) repeat-x;
	border-color: black;
}

.btn-dark.btn-gradient:focus, .btn-dark.btn-gradient.focus {
	box-shadow: 0 0 0 0.2rem rgba(56, 58, 62, 0.5);
}

.btn-dark.btn-gradient.disabled, .btn-dark.btn-gradient:disabled {
	color: #fff;
	background-color: #15171c;
	border-color: #15171c;
	background-image: none;
}

.btn-dark.btn-gradient:not(:disabled):not(.disabled):active, .btn-dark.btn-gradient:not(:disabled):not(.disabled).active,
.show > .btn-dark.btn-gradient.dropdown-toggle {
	color: #fff;
	background-color: black;
	background-image: none;
	border-color: black;
}

.btn-dark.btn-gradient:not(:disabled):not(.disabled):active:focus, .btn-dark.btn-gradient:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.btn-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(56, 58, 62, 0.5);
}

.btn-outline-light,
.btn-outline-dark {
	color: #fff;
}

h5 + .btn-block {
	margin-top: 0.625rem;
}

.btn-block + .btn-block {
	margin-top: 0.625rem;
}

