@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

//variables
$user-item-border-color: $gray-600;

.user-item {
	.user-img {
		border: 3px solid $user-item-border-color;
	}

	.user-description {
		display: block;
	}

	* + .user-title { margin-top: px-to-rem( 6px ); }
}
