include _config
include _functions
include _mixins

block variables
- main();

doctype html
html( lang='en', class= htmlClass )
	head
		title= pageName

		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )

		meta( property='og:title', content='Template Monster Admin Template' )
		meta( property='og:description', content='brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.' )
		meta( property='og:image', content='http://digipunk.netii.net/images/radar.gif' )
		meta( property='og:url', content='http://digipunk.netii.net' )

		link( rel='icon', href='images/favicon.ico', type='image/x-icon' )
		link( rel='stylesheet', href='components/base/base.css' )
		script( src='components/base/script.js' )

		block head

	body
		.page( class= pageClass )
			block page

			footer.footer.footer-small
				.container-fluid
					p
						span.d-inline-block.pr-2= logo.name
						| © 2019. Design by Zemez

			block sidebar
				include ../sidebar/_sidebar-default

			block modal
